:root {
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);
  --color-gray-100: rgb(250 249 248);
  --color-gray-200: rgb(238 237 235);
  --color-gray-300: rgb(213 212 207);
  --color-gray-400: rgb(183 182 178);
  --color-gray-500: rgb(143 140 133);
  --color-gray-600: rgb(66 65 60);
  --color-gray-700: rgb(32 31 29);
  --color-gray-800: rgb(20 20 19);
  --color-gray-900: rgb(10 10 9);
  --color-primary: rgb(218 169 0);
  --color-bright: rgb(229 186 34);
}

html {
  font-size: 20px;
}

body {
  font-family: 'Lato', sans-serif;

  color: var(--color-gray-700);
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;

  small {
    margin-left: 0.3rem;
    color: var(--color-gray-400);
    font-size: 60%;
  }
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-gray-400);
}

a,
.btn {
  transition: background-color 0.15s ease-in-out;
  will-change: background-color;
}

p {
  margin: 0 0 0.5rem;
}

p:last-of-type {
  margin: 0 0 2rem;
}

footer {
  margin-top: 2rem;
  font-size: 90%;

  a {
    font-style: italic;
  }

  path {
    fill: var(--color-primary);
  }
}

.btn {
  padding: 0.6rem 0.8rem 0.64rem 0.8rem;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
  font-size: 85%;
  line-height: 1;
}

.icon {
  height: 0.6rem;
  margin: 0 0.1rem;
}

main {
  display: block; // IE11
  width: 90%;
  margin: 2.5rem auto;

  .btn {
    width: 100%;
    display: block;
    margin: 0 0.25rem 0.75rem 0;
    background-color: var(--color-primary);
    color: var(--color-gray-900);
    font-weight: 700;
    border-radius: 0.2rem;
    font-size: 70%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    max-width: 40rem;

    .btn {
      width: auto;
      display: inline-block;

      &:hover {
        background-color: var(--color-primary);
      }
    }

    .btn-danger {
      background-color: var(--color-primary);

      &:hover {
        background-color: var(--color-primary);
      }
    }
  }

  #events {
    font-family: monospace;
    font-size: 80%;
  }
}

#test-menu-left p {
  font-size: 110%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.slide-menu {
  li a[data-action='close'] {
    &:before {
      content: var(--smdm-sm-control-content-close);
      margin-right: 0.5rem;
    }
  }
}
